<?xml version='1.0' encoding='utf-8'?>
<widget id="mobi.koni.lumorama" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lumorama Zermatt</name>
    <description>Lumorama Licht Show in Zermatt (Schweiz)</description>
    <author email="apps@koni.mobi" href="http://koni.mobi">Koni</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
